# First Assignment 10/15/2019

# Task 1

1. Install Jupyter notebook and run the first program and share the screenshot of the output.

In [1]:
print("This is my First Python Program")

This is my First Python Program

2. Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line

In [1]:
p = []
k=5
for a in list(range(2000,3201,7)):
    if a % k == 0:
        continue      
    print(a,",",end="")

2007 ,2014 ,2021 ,2028 ,2042 ,2049 ,2056 ,2063 ,2077 ,2084 ,2091 ,2098 ,2112 ,2119 ,2126 ,2133 ,2147 ,2154 ,2161 ,2168 ,2182 ,2189 ,2196 ,2203 ,2217 ,2224 ,2231 ,2238 ,2252 ,2259 ,2266 ,2273 ,2287 ,2294 ,2301 ,2308 ,2322 ,2329 ,2336 ,2343 ,2357 ,2364 ,2371 ,2378 ,2392 ,2399 ,2406 ,2413 ,2427 ,2434 ,2441 ,2448 ,2462 ,2469 ,2476 ,2483 ,2497 ,2504 ,2511 ,2518 ,2532 ,2539 ,2546 ,2553 ,2567 ,2574 ,2581 ,2588 ,2602 ,2609 ,2616 ,2623 ,2637 ,2644 ,2651 ,2658 ,2672 ,2679 ,2686 ,2693 ,2707 ,2714 ,2721 ,2728 ,2742 ,2749 ,2756 ,2763 ,2777 ,2784 ,2791 ,2798 ,2812 ,2819 ,2826 ,2833 ,2847 ,2854 ,2861 ,2868 ,2882 ,2889 ,2896 ,2903 ,2917 ,2924 ,2931 ,2938 ,2952 ,2959 ,2966 ,2973 ,2987 ,2994 ,3001 ,3008 ,3022 ,3029 ,3036 ,3043 ,3057 ,3064 ,3071 ,3078 ,3092 ,3099 ,3106 ,3113 ,3127 ,3134 ,3141 ,3148 ,3162 ,3169 ,3176 ,3183 ,3197 ,

3. Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.

In [4]:
FirstName = input('Enter your First Name: ')
LastName = input('Enter your Last Name: ')

name = FirstName +" "+LastName
print("\nReverse order: ", name[::-1])

Enter your First Name: Krish
Enter your Last Name: Naik

Reverse order:  kiaN hsirK

4. Write a Python program to find the volume of a sphere with diameter 12 cm

In [5]:
import math

d = 12
volume = (4/3)*math.pi*((d/2) ** 3)
print('volume of sphere: ', volume)

volume of sphere:  7238.229473870882

# Task 2

1. Write a program which accepts a sequence of comma-separated numbers from console and
generate a list

In [6]:
values = input('Enter comma seperated numbers: ')

list = values.split(",")

print("List: ", list)

Enter comma seperated numbers: 1,2,3,4,5,6,7,8
List:  ['1', '2', '3', '4', '5', '6', '7', '8']

2. Create the below pattern using nested for loop in Python

In [11]:
k =5
for i in range(k):
    for j in range(i):
        print('*', end="")
    print('')
    
for i in range(k,0,-1):
    for j in range(i):
        print('*', end="")
    print('')

*
**
***
****
*****
****
***
**
*

3. Write a Python program to reverse a word after accepting the input from the user.

In [14]:
word = input('Enter a word: ')
print('\nReverse order',word[::-1])

Enter a word: iNeuron

Reverse order norueNi

4. Write a Python Program to print the given string in the format specified in the sample output

In [18]:
str = "WE, THE PEOPLE OF INDIA,\n\thaving solemnly resolved to constitute India into a SOVEREIGN, !\n\t\tSOCIALIST, SECULAR, DEMOCRATIC REPUBLIC\n\t\t and to secure to all its citizens"

print(str)

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN, !
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		 and to secure to all its citizens

In [ ]:
######### end of assignment #########